.env*
.rake_tasks~
/log_file*
/error*
._*
*.pid
/logs
puma.state
elm-stuff
Dockerfile
scripts/2018_03/
staging_alternate_products.csv
staging_feb2018_switchable_products.csv
staging_matching_products.csv
